<h1>N + 1 Query Problem Example App</h1>

<ul>
  <li><a href="/books">Default query with the N + 1 problem.</a></li>
  <li><a href="/books/index_with_includes">Query with `.includes` to avoid the N + 1 problem.</a></li>
</ul>
